@mixin title {
  font-size: size(34px);
  line-height: size(43px);
  font-weight: 400;
  font-family: 'Lexend Exa', Arial, sans-serif;
}

@mixin subtitle {
  font-size: size(24px);
  line-height: size(30px);
  font-weight: 300;
  font-family: 'Lexend', sans-serif;
}

@mixin text {
  font-size: size(20px);
  line-height: size(25px);
  font-weight: 300;
  font-family: 'Lexend', sans-serif;
}